form,
.form-result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    height: 400px;
}

input,
textarea {
    margin-bottom: 20px;
    outline: none;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e96862;
    color: #fff;
}

input {
    padding: 10px;
}

textarea {
    padding: 10px;
    height: 100px;
}

button {
    font-family: "Outfit", sans-serif;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #c14a4a;
    margin-top: 30px;
    width: fit-content;
    font-weight: 600;
    box-shadow: -4px 4px 0px 0px #fff, -3px 3px 0px 0px #fff, -2px 2px 0px 0px #fff, -1px 1px 0px 0px #fff;
    margin-left: 4px;
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: #982727;
}

button:active {
    margin-top: 34px;
    margin-left: 0;
    box-shadow: unset;
}

button:disabled {
    margin-top: 34px;
    margin-left: 0;
    box-shadow: unset;
    background-color: #e17d7d;
}

.success {
    font-size: 26px;
    background-color: #c14a4a;
    color: #fff;
    padding: 20px;
}

.error {
    color: #c14a4a;
    font-size: 26px;
}

@media (width >=1024px) {

    form,
    .form-result {
        height: 450px;
    }

    input,
    textarea {
        font-size: 18px;
        margin-bottom: 30px;
    }

    button {
        padding: 14px 26px;
        font-size: 18px;
    }
}

@media (width >=1280px) {

    form,
    .form-result {
        height: 500px;
    }

    button {
        padding: 16px 32px;
        font-size: 20px;
    }

    input,
    textarea {
        font-size: 20px;
        padding: 14px;
        margin-bottom: 40px;
    }
}