section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px 16px 0;
    max-width: 1280px;
    margin: auto;
}

.text {
    margin-bottom: 40px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

.parent div {
    background-color: #fff;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    padding: 6px;
    position: relative;
    background-position: center;
}

.parent h3 {
    z-index: 10;
    font-family: "Alfa Slab One", serif;
    font-size: 16px;
}

.parent div::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 150%);
    z-index: 1;
}

.bodas {
    grid-row: span 2 / span 2;
    background-image: url("/portafolio/bodas/bodas 134.jpg");
}

.retratos {
    grid-row: span 2 / span 2;
    background-image: url("/portafolio/retratos/retratos 50.jpg");
}

.moda {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    background-image: url("/portafolio/moda/moda 10.jpg");
}

@media (width >=768px) {
    .parent {
        gap: 16px;
    }
}

@media (width >=1024px) {
    section {
        padding: 120px 32px 0;
    }

    .parent {
        gap: 32px;
    }

    .parent div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vw;
        cursor: pointer;
    }

    .parent h3 {
        font-size: 40px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    .parent div::before {
        height: 0%;
        background: rgba(0, 0, 0, 0.7);

    }

    .parent div:hover::before {
        height: 100%;
    }

    .parent div:hover h3 {
        opacity: 1;
        color: #fff;
        font-weight: 800;
        z-index: 10;
    }
}

@media (width >=1280px) {
    .parent div {
        height: 500px;
    }
}