---
import { Image } from "astro:assets";
import daniel from "../../public/landing/daniel-camara.jpeg";
---

<section id="bio">
    <div class="image">
        <Image src={daniel} alt="Daniel Patiño" />
    </div>
    <div class="text">
        <h2 class="name">Biografía</h2>
        <hr />
        <p class="info">
            Fotógrafo Profesional venezolano radicado en Madrid desde hace 5
            años. Mi viaje en la fotografía comenzó con una simple cámara
            digital compacta, sin imaginar que aquel pequeño objeto cambiaría mi
            vida.
        </p>
        <p class="info">
            Buscando nuevas oportunidades, me mudé a México, donde la fotografía
            pasó de ser un pasatiempo a convertirse en mi verdadera pasión y
            profesión. Tras meses de estudio y práctica, comencé a trabajar en
            bodas, moda y retratos, combinando técnica y creatividad.
        </p>
        <p class="info">
            Mi carrera me llevó a Playa del Carmen y luego a Nápoles, donde me
            especialicé en fotografía de moda, perfeccionando mi estilo y
            ampliando mis conocimientos en el sector. Hoy, en Madrid, sigo
            evolucionando como fotógrafo freelance, capturando historias a
            través de mi lente y explorando nuevas formas de expresión visual.
        </p>
    </div>
</section>

<style scoped>
    section {
        display: flex;
        flex-direction: column-reverse;
        padding: 60px 16px 0;
        max-width: 1280px;
        margin: auto;
    }

    img {
        width: 100%;
        height: auto;
    }

    p {
        margin-bottom: 16px;
    }

    .text {
        margin-bottom: 20px;
    }

    @media (width >= 896px) {
        section {
            flex-direction: row;
            gap: 16px;
        }

        .image {
            width: 50%;
        }

        .text {
            width: 50%;
        }
    }

    @media (width >= 1024px) {
        section {
            padding: 120px 32px 0;
            gap: 32px;
        }

        .image {
            width: 50%;
        }

        .text {
            width: 50%;
            padding: 0;
        }
    }
</style>
