---
import { Image } from "astro:assets";
import Matrimonio from "../assets/home/dan-patino-fotografia-matrimonio-femmina-l.jpg";
import Retrato from "../assets/home/dan-patino-fotografia-ritratto-femmina-l.jpg";
import Moda from "../assets/home/dan-patino-fotografia-moda-femmina-l.jpg";
---

<div class="container">
    <section class="categories">
        <article class="matrimonio">
            <div class="image">
                <Image src={Matrimonio} alt="" />
            </div>
            <div class="text">
                <h2>Per me ricordare il giorno magico</h2>
                <p>
                    del vostro matrimonio &egrave; molto importante.
                    Immortaler&ograve; i pi&ugrave; significativi momenti della
                    vostra giornata speciale, dalla preparazione degli sposi
                    alla celebrazione delle nozze e infine il ricevimento,
                    far&ograve; delle foto spontanee e particolari, senza
                    invadere la privacy e senza creare ansia e pressioni per
                    ottenere uno scatto che racconti il momento solenne e
                    indimenticabile della vostra giornata.
                </p>
            </div>
        </article>
        <article class="ritratti">
            <div class="text">
                <h2>Dicono che gli occhi sono lo specchio dell&apos;anima</h2>
                <p>
                    per me il ritratto vuol dire proprio questo, sentirmi
                    coinvolto con la persona che fotografo per estrarre il
                    meglio da essa. Cercare di catturare il suo momento nel
                    tempo, suscitando un&apos;emozione ed una reazione.
                </p>
            </div>
            <div class="image">
                <Image src={Retrato} alt="" />
            </div>
        </article>
        <article class="moda">
            <div class="image">
                <Image src={Moda} alt="" />
            </div>
            <div class="text">
                <h2>Dai beauty ai cataloghi tecnici</h2>
                <p>
                    alla fotografia pubblicitaria riuscir&ograve; a evidenziare
                    il vostro Brand con le vostre idee e le mie fotografie. Sia
                    in esterno che/o in sala posa, le immagini parleranno da
                    sole con un tocco originale e artistico.
                </p>
            </div>
        </article>
    </section>
</div>

<style>
    section {
        width: 100%;
    }

    section article {
        width: 100%;
        background-color: white;
        padding: 120px 60px;
        display: flex;
        align-items: center;
    }

    section article .text {
        width: 40%;
        padding: 25px;
    }

    section article .text h2 {
        font-size: 40px;
        font-family: MontserratB;
    }

    section article .text p {
        margin-top: 20px;
        padding: 0 40px;
        line-height: 25px;
    }

    section article .image {
        width: 60%;
    }

    section article .image img {
        width: 100%;
        height: auto;
    }

    section article.ritratti {
        background-color: #efefef;
    }

    section article.ritratti .text {
        width: 60%;
        padding: 0 60px;
    }

    section article.ritratti .image {
        width: 40%;
    }

    section article.ritratti .image img {
        -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    }
</style>
