---
import { Form } from "./Form";
---

<section id="contacto">
    <div class="text">
        <h2>Contáctame</h2>
        <hr />
        <p>
            ¿Listo para capturar momentos inolvidables? Contáctame y hagamos
            realidad tu próxima sesión.
        </p>
        <div class="links">
            <a class="email" href="mailto:dan@danpatinofotografia.com">
                dan@danpatinofotografia.com
            </a>
            <a class="tel" href="tel:34625768175">+34 625 76 81 75</a>
            <a
                class="facebook"
                target="_blank"
                href="https://www.facebook.com/dan.marley1">Facebook</a
            >
            <a
                class="instagram"
                target="_blank"
                href="https://www.instagram.com/danpatinofotografia/"
                >Instagram</a
            >
        </div>
    </div>
    <div class="form">
        <Form />
        <div class="links-mobile">
            <a class="email" href="mailto:dan@danpatinofotografia.com">
                dan@danpatinofotografia.com
            </a>
            <a class="tel" href="tel:34625768175">+34 625 76 81 75</a>
            <a
                class="facebook"
                target="_blank"
                href="https://www.facebook.com/dan.marley1">Facebook</a
            >
            <a
                class="instagram"
                target="_blank"
                href="https://www.instagram.com/danpatinofotografia/"
                >Instagram</a
            >
        </div>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        padding: 120px 16px 60px;
        max-width: 1280px;
        margin: auto;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    p {
        margin-bottom: 16px;
    }

    a {
        margin-bottom: 8px;
        text-decoration: none;
        color: #e96862;
        transition: color 0.1s;
    }

    a:hover {
        color: #c14a4a;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .links-mobile {
        display: flex;
        flex-direction: column;
    }

    .links {
        display: none;
    }

    @media (width >= 768px) {
        section {
            flex-direction: row;
            gap: 16px;
        }

        .text {
            width: 50%;
        }

        .form {
            width: 50%;
        }

        .links {
            display: flex;
            flex-direction: column;
        }

        .links-mobile {
            display: none;
        }
    }

    @media (width >= 1024px) {
        section {
            padding: 120px 32px 120px;
            gap: 32px;
        }
    }
</style>
