<footer>
    <div class="info">
        <p class="copy">&copy; 2025 Daniel Patiño</p>
        <p class="developed">
            Developed by <a target="_blank" href="https://eriksend.com"
                >Eriksen</a
            >
        </p>
    </div>
</footer>

<style scoped>
    footer {
        height: 50px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        max-width: 1280px;
        margin: auto;
    }

    .info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    footer .info p.copy,
    footer .info p.developed {
        color: #fff;
        font-size: 14px;
    }

    footer .info p.developed a {
        text-decoration: none;
        color: #e96862;
        font-size: 14px;
        transition: color 0.3s;
    }

    footer .info p.developed a:hover {
        color: #c14a4a;
    }

    @media (width >= 1024px) {
        footer {
            height: 60px;
            padding: 0 32px;
        }
    }
</style>
