<header id="header">
    <a class="logo-desktop" href="/">Dan Patiño</a>
    <a class="logo-mobile" href="/">D.P.</a>
    <label for="menu">
        <div class="bars">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </label>
    <input type="checkbox" name="menu" id="menu" />
    <nav class="menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#portafolio">Portafolio</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#bio">Bio</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const header = document.getElementById("header");
        if (!header) return;

        window.addEventListener("scroll", () => {
            if (window.scrollY > 1) {
                header.classList.add("effect");
            } else {
                header.classList.remove("effect");
            }
        });
    });
</script>

<style scoped>
    header {
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: 80px;
        transition: all 0.15s ease-in-out;
        background-color: #000;
        border-bottom: 0.5px solid #000;
        z-index: 100;
    }

    header.effect {
        height: 60px;
        border-bottom: 0.5px solid #c14a4a;
        box-shadow:
            0 6px 12px rgba(0, 0, 0, 0.4),
            0 12px 22px rgba(0, 0, 0, 0.3),
            0 20px 40px rgba(0, 0, 0, 0.3);
    }

    a.logo-mobile,
    a.logo-desktop {
        font-size: 24px;
        color: #fff;
        font-weight: 800;
        text-decoration: none;
        font-family: "Alfa Slab One", serif;
    }

    a.logo-desktop {
        display: none;
    }

    a.logo-mobile {
        display: block;
    }

    input {
        display: none;
    }

    .bars {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
    }

    .bar {
        width: 24px;
        height: 2px;
        background: white;
        padding: 0;
        margin: 0;
    }

    input:checked + nav {
        top: 50%;
    }

    nav {
        height: 56px;
        display: flex;
        position: absolute;
        background-color: #000;
        top: -50%;
        left: 0;
        transform: translate(0, -50%);
        transition: all 0.15s ease;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        margin-left: 16px;
    }

    li:first-child {
        display: none;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
    }

    a:hover {
        color: #e96862;
    }

    @media (width >= 410px) {
        li:first-child {
            display: block;
        }
    }

    @media (width >= 480px) {
        nav {
            display: flex;
            position: relative;
            top: unset;
            transform: unset;
        }

        label {
            display: none;
        }
    }

    @media (width >= 768px) {
        a.logo-mobile {
            display: none;
        }

        a.logo-desktop {
            display: block;
        }

        ul a {
            font-size: 16px;
        }

        ul {
            gap: 16px;
        }
    }

    @media (width >= 1024px) {
        header {
            padding: 0 32px;
        }

        a.logo-desktop {
            font-size: 30px;
        }

        ul a {
            font-size: 18px;
        }

        ul {
            gap: 24px;
        }
    }
</style>
