---
import { Image } from "astro:assets";
import Dan from "../assets/home/daniel-patino-hero-mobile.jpeg";
---

<section id="inicio">
    <div class="text">
        <h1 class="name">Daniel Patiño</h1>
        <p class="role">Fotógrafo Profesional</p>
        <p class="description">
            Capturando emociones y momentos inolvidables con un enfoque
            artístico y profesional, transformando cada imagen en una historia
            que perdura en el tiempo.
        </p>
    </div>
    <Image src={Dan} alt="Daniel Patiño" />
</section>

<style>
    section {
        background-color: #000;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 140px 16px 0;
        position: relative;
    }

    section::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 80%);
    }

    .text {
        margin-bottom: 50px;
    }

    span {
        width: 50px;
        height: 20px;
        background-color: #e96862;
    }

    p.role {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 1.45vw;
        white-space: nowrap;
        text-transform: uppercase;
        background-color: #c14a4a;
        padding: 2px 4px;
        width: fit-content;
        margin-bottom: 16px;
    }

    p.description {
        line-height: 22px;
        font-size: 16px;
    }

    img {
        width: 100%;
        height: auto;
    }
</style>
