---
import { Image } from "astro:assets";
import Dan from "../../public/landing/daniel-patino-hero-mobile.jpeg";
import Daniel from "../../public/landing/daniel-camara.jpeg";
---

<section id="inicio">
    <div class="text">
        <h1 class="name">Daniel Patiño</h1>
        <p class="role">Fotógrafo Profesional</p>
        <p class="description">
            Capturando emociones y momentos inolvidables con un enfoque
            artístico y profesional, transformando cada imagen en una historia
            que perdura en el tiempo.
        </p>
    </div>
    <Image src={Daniel} alt="Daniel Patiño" />
</section>

<style>
    section {
        background-color: #000;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 140px 16px 0;
        position: relative;
        max-width: 1280px;
        margin: auto;
    }

    section::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 80%);
    }

    .text {
        margin-bottom: 50px;
        width: 100%;
    }

    span {
        width: 50px;
        height: 20px;
        background-color: #e96862;
    }

    p.role {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 0.5vw;
        white-space: nowrap;
        text-transform: uppercase;
        background-color: #c14a4a;
        padding: 2px 4px;
        width: fit-content;
        margin-bottom: 16px;
    }

    p.description {
        text-wrap-style: pretty;
    }

    img {
        width: 100%;
        height: auto;
    }

    @media (width >= 410px) {
        p.role {
            letter-spacing: 1.45vw;
        }
    }

    @media (width >= 768px) {
        section {
            flex-direction: row;
        }

        .text {
            width: 50%;
            margin-bottom: 0;
        }

        img {
            width: 50%;
            height: auto;
        }

        p.role {
            letter-spacing: 0.7vw;
        }
    }

    @media (width >= 1024px) {
        section {
            padding: 120px 32px 0;
        }

        p.role {
            letter-spacing: 10px;
        }

        h1 {
            font-size: 52px;
        }

        .text {
            width: 45%;
        }
    }

    @media (width >= 1280px) {
        h1 {
            font-size: 70px;
        }

        p.role {
            letter-spacing: 14px;
            font-size: 22px;
        }

        .text {
            width: 50%;
        }
    }
</style>
