<section class="quote">
    <p class="text">
        &quot;Quiero hacer retratos tan intensos como las personas&quot;
    </p>
    <p class="author">- Richard Avedon</p>
</section>

<style>
    .quote {
        width: 100%;
        background-color: #efefef;
        padding: 200px 60px;
    }

    p {
        margin: auto;
        font-family: "Philosopher";
        font-size: 60px;
        color: #888;
        border-left: 8px solid #888;
        border-right: 8px solid white;
        background-color: white;
        padding: 20px 0 20px 30px;
    }

    .author {
        text-align: right;
    }
</style>
