---
import Vid from "/landing/dan-patino-fotografia-video-matrimonio.mp4";
---

<section>
    <div>
        <h2>Producci칩n Audiovisual</h2>
        <hr />
        <p>
            Capturamos momentos inolvidables con un enfoque cinematogr치fico y
            din치mico. Realizamos videos de bodas, eventos, producciones
            corporativas, backstage y lookbooks para potenciar tu marca.
            Adaptamos cada proyecto para televisi칩n y plataformas digitales,
            asegurando impacto en cualquier escenario.
        </p>
    </div>
    <video
        src={Vid}
        loop="loop"
        muted="muted"
        autoplay="autoplay"
        playsinline=""
        class="video-bg"
    >
    </video>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const video = document.querySelector(".video-bg") as HTMLVideoElement;
        if (video) {
            video.currentTime = 7;
        }
    });
</script>

<style>
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 120px 16px 0;
        max-width: 1280px;
        margin: auto;
    }

    p {
        margin-bottom: 16px;
    }

    video {
        width: 100%;
        filter: grayscale(100%) brightness(50%);
        background-color: #000;
    }

    section .group-video {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translateY(-50%);
    }

    section .group-video h2 {
        color: white;
        font-size: 45px;
        margin-bottom: 15px;
        margin-top: 0;
    }

    section .group-video p {
        width: 60%;
        color: white;
        font-size: 16px;
        line-height: 25px;
    }

    section .group-video p:last-of-type {
        display: none;
    }

    @media (width >= 1024px) {
        section {
            padding: 120px 32px 0;
        }
    }
</style>
